* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.5rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
}

.choice {
    height: 185px;
    width: 185px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.choice:hover {
    cursor: pointer;
    border: 5px solid #081b31;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

img {
    height: 175px;
    width: 175px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 3rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    background-color:#081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    border-radius: 10px;
    padding: 5px;
}
